services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=0              # root user
      - PGID=0              # root group
      - TZ=America/New_York
      - SERVERURL=147.182.164.221  # fill this in
      - SERVERPORT=51820
      - PEERS=3
      - PEERDNS=1.1.1.1
      - INTERNAL_SUBNET=10.8.0.0
    ports:
      - "51820:51820/udp"
    volumes:
      - ./wireguard/config:/config
    sysctls:
      - net.ipv4.ip_forward=1
    networks:
      - wgnet
    restart: always

  backend:
    build: .
    container_name: fastapi_app
    restart: always
    env_file: .env
    depends_on:
      - mongo
    expose:
      - "8000"
    volumes:
      - ./src:/app/src
      - ./temp:/app/temp
      - ./logs:/app/logs
    command: >
      sh -c "
        if [ \"$APP_ENV\" = 'dev' ]; then
          uv run uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --reload;
        else
          uv run uvicorn src.api.main:app --host 0.0.0.0 --port 8000;
        fi
      "
    networks:
      - wgnet
      - default

  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    expose:
      - "27017"
    volumes:
      - mongo_data:/data/db
      - ./mongod.conf:/etc/mongod.conf
    command: ["mongod", "--config", "/etc/mongod.conf"]
    networks:
      - default

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    depends_on:
      - backend
      - certbot
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./src/web/static:/app/static:ro
      - ./src/web/templates:/app/templates:ro
      - certbot-etc:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    networks:
      - default

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew --webroot -w /var/www/certbot; done'"
    networks:
      - default

volumes:
  mongo_data:
  certbot-etc:
  certbot-www:

networks:
  wgnet:
    driver: bridge
