services:
  backend:
    build: .
    container_name: fastapi_app
    restart: always
    env_file: .env
    depends_on:
      - mongo
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src  # live code reload in dev
      - ./temp:/app/temp
    command: >
      sh -c "
        if [ \"$APP_ENV\" = 'dev' ]; then
          uv run uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --reload;
        else
          uv run uvicorn src.api.main:app --host 0.0.0.0 --port 8000;
        fi
      "

  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./src/web/static:/app/static:ro
      - ./src/web/templates:/app/templates:ro

volumes:
  mongo_data:
