body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C32026;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* subtract header height */
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}


.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 0rem;
    color: #333;
}

.login-container h3 {
    margin-bottom: 0rem;
    color: #666666;
}

.login-container input {
    width: 275px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.login-container button {
    width: 200px;
    padding: 10px;
    margin: 20px 0;
    background: #C32026;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background: #A01D20;
}

.login-container a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #C32026;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.padding {
    padding: 10px;
}

.confirm-input {
    border: 2px solid C32026;
    background-color: #ffecec;
}

.message {
    color: #C32026;
    font-size: 14px;
    margin-top: 5px;
}

.error {
    border-color: #C32026;
    background-color: #ffecec;
}

.check {
    display: none;
    font-size: 12px;
    text-align:  left;
    margin: 0;
    transition: 1s ease-in-out;
}

.entropy-container {
    margin:  20px 5px;
    align-items: start;
    display: none;
    text-align:  left;
}

.entropy-container p {
    font-size:  12px;
    margin: 8px 0;
}

.entropy {
    background-color: #C32026;
    height: 8px;
    width: 100%;
    border-radius: 5px;
}

.name-container {
    display: flex;
    gap: 10px; /* space between inputs */
    align-items: center;
    justify-content: center;
}

.name-container input {
    flex: 1; /* make both inputs equal width */
    max-width: 41%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}