body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.map-div {
    height: 90vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.title {
    margin: 10px;
}

#map { 
    height: 100%; 
    width: 100%; 
}

.territory-label {
    background-color: rgba(255,255,255,0.7);
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 2px 4px;
    border-radius: 3px;
}