<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>LOTO Generator | Create Account</title>
<link rel="stylesheet" href="/static/css/create_account.css">
<link rel="icon" type="image/x-icon" href="/static/includes/create_account_icon.svg">
</head>
<body>
<main>
    <div class="login-container">
        <h2>LOTO Generator</h2>
        <h3>Create an account</h3>
        <form method="post" id="signupForm" >
            <div class="name-container">
                <input type="text" id="firstNameInput" name="first_name" placeholder="First Name" autocomplete="first-name" required autofocus autocapitalize="words">
                <input type="text" id="lastNameInput" name="last_name" placeholder="Last Name" autocomplete="last-name" required autocapitalize="words">
            </div>
            <input type="text" id="emailInput" name="email" placeholder="Email" autocomplete="email" required>
            <p class="check" id ="emailCheck">❌ Invalid Email Address</p>
            <div class="padding"></div>
            <input type="text" id="username" name="username" placeholder="Username" autocomplete="username" required>
            <p class="check" id ="usernameCheck">❌ Invalid Username</p>
            <input type="password" id="passwordInput" name="password" placeholder="Password" autocomplete="current-password" required>
            <p class="check" id ="passwordCheck-Length">❌ Password must be 12 characters minimum</p>
            <p class="check" id ="passwordCheck-Forbidden">❌ Password can't contain prohibited items</p>
            <p class="check" id ="passwordCheck-Uppercase">❌ Password must contain an uppercase letter</p>
            <p class="check" id ="passwordCheck-Lowercase">❌ Password must contain an lowercase letter</p>
            <p class="check" id ="passwordCheck-Number">❌ Password must contain a number</p>
            <p class="check" id ="passwordCheck-Special">❌ Password must contain a special character</p>
            <div class="entropy-container" id="entropy-Container">
                <p id="entropy-words">Very Weak</p>
                <div class="entropy" id ="entropy-bar"></div>
                <p class="check" id ="passwordCheck-Repeat">⚠️ Password contains a repeat sequence</p>
                <p class="check" id ="passwordCheck-Sequential">⚠️ Password contains a sequential sequence</p>
            </div>
            <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm Password" autocomplete="confirm-password" required>
            <p class="check" id ="passwordCheck-Confirm">❌ Password must match</p>
            <div id="loadingSpinner" style="margin-top: 15px"> 
                <svg width="24" height="24" viewBox="0 0 50 50">
                    <circle cx="25" cy="25" r="20" fill="none" stroke="#C32026" stroke-width="5" stroke-linecap="round" stroke-dasharray="31.4 31.4" transform="rotate(0 25 25)">
                        <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 25 25" to="360 25 25" dur="1s" repeatCount="indefinite"/>
                    </circle>
                </svg>
                <span>Creating...</span>
            </div>
            <button type="submit" id="create-Button" disabled>Create Account</button>
        </form>
        <a href="/login">Login</a>
        <a href="/forgot_password">Forgot Password?</a>
    </div>
</main>
<script type="module" src="/static/js/create_account.js"></script>
</body>
</html>
