<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOTO Generator | Forgot Password</title>
    <link rel="stylesheet" href="/static/css/forgot_password.css">
    <link rel="icon" type="image/x-icon" href="/static/includes/login_icon.svg">
</head>
<main>
<body>
  <div class="login-container">
    <h2>LOTO Generator</h2>
    <h3>Forgot / Reset Password</h3>
    <form action="javascript:void(0);" method="post" id="loginForm" >
        <input type="text" id="emailInput" name="email" placeholder="Email" autocomplete="email" required>
        <p class="check" id ="emailCheck">❌ Invalid Email Address</p>

        <input type="text" id="codeInput" name="backup_code" placeholder="Code" autocomplete="backup-code">
        <p class="check" id ="codeCheck"></p>

        <input type="password" id="passwordInput" name="password" placeholder="New Password" autocomplete="current-password">
        <p class="check" id ="passwordCheck-Length">❌ Password must be 12 characters minimum</p>
        <p class="check" id ="passwordCheck-Forbidden">❌ Password can't contain prohibited items</p>
        <p class="check" id ="passwordCheck-Uppercase">❌ Password must contain an uppercase letter</p>
        <p class="check" id ="passwordCheck-Lowercase">❌ Password must contain an lowercase letter</p>
        <p class="check" id ="passwordCheck-Number">❌ Password must contain a number</p>
        <p class="check" id ="passwordCheck-Special">❌ Password must contain a special character</p>
        <div class="entropy-container" id="entropy-Container">
            <p id="entropy-words">Very Weak</p>
            <div class="entropy" id ="entropy-bar"></div>
            <p class="check" id ="passwordCheck-Word">⚠️ Password contains a word</p>
            <p class="check" id ="passwordCheck-Repeat">⚠️ Password contains a repeat sequence</p>
            <p class="check" id ="passwordCheck-Sequential">⚠️ Password contains a sequential sequence</p>
        </div>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" autocomplete="confirm-password">
        <p class="check" id ="passwordCheck-Confirm">❌ Password must match</p>

        <div id="resendContainer" style="margin-top:15px; display:none;">
          <a href="#" id="resendLink" class="resend-link" style="display:none;">Resend code</a>
          <span id="resendCountdown" style="margin-left:8px; color:#666666; display:none;"></span>
        </div>

        <button type="submit" id="sendButton" disabled>Send Code</button>
    </form>
    <a href="/login">Login</a>
    <a href="/create_account">Create Account</a>
  </div>
</main>
<script type="module" src="/static/js/forgot_password.js"></script>
</body>
</html>
