<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <title>LOTO Generator | Login</title>
<link rel="stylesheet" href="/static/css/login.css">
<link rel="icon" type="image/x-icon" href="/static/includes/login_icon.svg">
</head>
<body>
<main>
    <div class="login-container">
        <h2>LOTO Generator</h2>
        <h3>Login</h3>
        <div class="padding"></div>
        <form method="post" id="loginForm" action="/login">
            <input type="text" name="username" id="username" placeholder="Username or Email" autocomplete="username" required autofocus>
            <p class="check" id="emailCheck">❌ Invalid Email Address</p>

            <input type="password" name="password" id="password" placeholder="Password" autocomplete="current-password" required>
            <p class="check" id="passwordCheck">❌ Password must be 12 characters minimum</p>
            <p class="check" id="activationCheck">❌ Your account has not been activated yet</p>

            <button type="submit">Login</button>
        </form>
        <a href="/create_account">Create Account</a>
        <a href="/forgot_password">Forgot Password?</a>
    </div>
</main>
<script type="module" src="/static/js/login.js"></script>
</body>
</html>
